.tableContainer {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 2px solid #000;
}

.tableHead {
    background-color: #3d2406;
    color: white;
}

.tableBody:nth-child(even) {
    background-color: #d3d3d3;
}

.tableBody:nth-child(odd) {
    background-color: #ffffff;
}

.type::first-letter {
    text-transform: uppercase;
}